# **CSE422**
Group 8



MOVIE RECOMMENDATION SYSTEM

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import csv

In [32]:
movies  = pd.read_csv("drive/MyDrive/Courses/CSE422/Dataset/movie.csv")

In [33]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [34]:
movies["keywords"][0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [35]:
movies["tagline"][0]

'Enter the World of Pandora.'

In [36]:
movies["overview"][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [37]:
df2  = pd.read_csv("drive/MyDrive/Courses/CSE422/Dataset/movie_credit.csv")

In [38]:
df2.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [39]:
df2["cast"]

0       [{"cast_id": 242, "character": "Jake Sully", "...
1       [{"cast_id": 4, "character": "Captain Jack Spa...
2       [{"cast_id": 1, "character": "James Bond", "cr...
3       [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4       [{"cast_id": 5, "character": "John Carter", "c...
                              ...
4798    [{"cast_id": 1, "character": "El Mariachi", "c...
4799    [{"cast_id": 1, "character": "Buzzy", "credit_...
4800    [{"cast_id": 8, "character": "Oliver O\u2019To...
4801    [{"cast_id": 3, "character": "Sam", "credit_id...
4802    [{"cast_id": 3, "character": "Herself", "credi...
Name: cast, Length: 4803, dtype: object

**Merging two csv files on the basis of the common feature "TITLE"**

In [40]:
movies=movies.merge(df2,on="title")

In [41]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

**Converting List of string to proper list with finding name of the Cast**

In [42]:
# extract hero names and director name from credit csv

import ast
def str_list(x):
  x=ast.literal_eval(x)
  l=[]
  for item in x:

    l.append(item['name'])
  
  return l

In [43]:
movies["cast"]=movies["cast"].apply(str_list)

**Converting String of list to list with finding director name as well**

In [44]:
import ast
def str2_list(x):
  x=ast.literal_eval(x)
  l=[]
  for item in x:
    if item['job']=="Director":
      l.append(item['name'])
  
  return l

In [45]:
movies["crew"]=movies["crew"].apply(str2_list)

In [46]:
movies["cast"]

0       [Sam Worthington, Zoe Saldana, Sigourney Weave...
1       [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2       [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3       [Christian Bale, Michael Caine, Gary Oldman, A...
4       [Taylor Kitsch, Lynn Collins, Samantha Morton,...
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805    [Edward Burns, Kerry Bishé, Marsha Dietlein, C...
4806    [Eric Mabius, Kristin Booth, Crystal Lowe, Geo...
4807    [Daniel Henney, Eliza Coupe, Bill Paxton, Alan...
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldm...
Name: cast, Length: 4809, dtype: object

In [48]:
movies["crew"]

0                                [James Cameron]
1                               [Gore Verbinski]
2                                   [Sam Mendes]
3                            [Christopher Nolan]
4                               [Andrew Stanton]
                          ...
4804                          [Robert Rodriguez]
4805                              [Edward Burns]
4806                               [Scott Smith]
4807                               [Daniel Hsia]
4808    [Brian Herzlinger, Jon Gunn, Brett Winn]
Name: crew, Length: 4809, dtype: object

In [49]:
movies["genres"]=movies['genres'].apply(str_list)
movies["keywords"]=movies['keywords'].apply(str_list)

In [50]:
# finding NA values 
movies.isna().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [51]:
movies.sample(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
3983,0,"[Crime, Action]",https://www.facebook.com/closerangemovie/,325173,[],en,Close Range,A rogue soldier turned outlaw is thrust into a...,5.485217,"[{""name"": ""Bleiberg Entertainment"", ""id"": 1872...",...,80.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Colton MacReady...is coming home.,Close Range,4.9,54,325173,"[Scott Adkins, Nick Chinlund, Caitlin Keats, J...",[Isaac Florentine]
3660,5000000,"[Horror, Science Fiction, Thriller]",NaN,18442,[],en,Decoys,Luke and Roger are just another couple of coll...,3.054340,[],...,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They can seduce anyone... Prey it isn't you!,Decoys,4.7,33,18442,"[Kim Poirier, Stefanie von Pfetten, Elias Touf...",[Matthew Hastings]
2387,18000000,"[Drama, Mystery, Thriller]",NaN,11468,"[dual identity, identity, war on drugs, jazz m...",en,Salton Sea,"After the murder of his beloved wife, a man in...",10.991281,"[{""name"": ""Castle Rock Entertainment"", ""id"": 9...",...,103.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"If you're looking for the truth, you've come t...",Salton Sea,7.0,104,11468,"[Val Kilmer, Vincent D'Onofrio, Adam Goldberg,...",[D.J. Caruso]
2177,20000000,"[Romance, Comedy]",http://www.mybestfriendsgirlmovie.com,13596,"[date, sex, bar, test, friendship, insult, str...",en,My Best Friend's Girl,"When Dustin's girlfriend, Alexis, breaks up wi...",17.145287,"[{""name"": ""Lionsgate"", ""id"": 1632}, {""name"": ""...",...,101.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,It's funny what love can make you do...,My Best Friend's Girl,5.4,220,13596,"[Dane Cook, Kate Hudson, Alec Baldwin, Jason B...",[Howard Deutch]
513,75000000,"[Action, Adventure, Thriller]",NaN,9802,"[san francisco, fbi, gas attack, alcatraz, hos...",en,The Rock,A group of renegade marine commandos seizes a ...,51.469576,"[{""name"": ""Hollywood Pictures"", ""id"": 915}, {""...",...,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Alcatraz. Only one man has ever broken out. ...,The Rock,6.9,1456,9802,"[Sean Connery, Nicolas Cage, Ed Harris, John S...",[Michael Bay]

In [52]:
# removing space 
def _join(x):
  l=[]
  for i in x:
    l.append(i.replace(" ",""))
  return l

In [53]:
movies["cast"]=movies["cast"].apply(_join)

In [54]:
movies["cast"]=movies["cast"].apply(lambda i:i[0:3])

In [56]:
movies["cast"]

0        [SamWorthington, ZoeSaldana, SigourneyWeaver]
1           [JohnnyDepp, OrlandoBloom, KeiraKnightley]
2            [DanielCraig, ChristophWaltz, LéaSeydoux]
3            [ChristianBale, MichaelCaine, GaryOldman]
4          [TaylorKitsch, LynnCollins, SamanthaMorton]
                             ...
4804    [CarlosGallardo, JaimedeHoyos, PeterMarquardt]
4805         [EdwardBurns, KerryBishé, MarshaDietlein]
4806           [EricMabius, KristinBooth, CrystalLowe]
4807            [DanielHenney, ElizaCoupe, BillPaxton]
4808    [DrewBarrymore, BrianHerzlinger, CoreyFeldman]
Name: cast, Length: 4809, dtype: object

# We need:
1. Genres
2. Key words
3. Title
4. Overview
5. Cast (Actors)
6. Crew (Director)

In [57]:
new_df=pd.DataFrame(movies,columns=['id','homepage','title','cast','crew','overview','genres','keywords'])

In [58]:
new_df.head(5)

,id,homepage,title,cast,crew,overview,genres,keywords
0,19995,http://www.avatarmovie.com/,Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron],"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."
1,285,http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[Gore Verbinski],"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,206647,http://www.sonypictures.com/movies/spectre/,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[Sam Mendes],A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."
3,49026,http://www.thedarkknightrises.com/,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[Christopher Nolan],Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i..."
4,49529,http://movies.disney.com/john-carter,John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[Andrew Stanton],"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel..."

In [59]:
new_df['crew']=new_df['crew'].apply(_join)

In [60]:
new_df.head()

,id,homepage,title,cast,crew,overview,genres,keywords
0,19995,http://www.avatarmovie.com/,Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."
1,285,http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,206647,http://www.sonypictures.com/movies/spectre/,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."
3,49026,http://www.thedarkknightrises.com/,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i..."
4,49529,http://movies.disney.com/john-carter,John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel..."

In [61]:
new_df.isna().sum()

id             0
homepage    3096
title          0
cast           0
crew           0
overview       3
genres         0
keywords       0
dtype: int64

In [62]:
new_df["homepage"]=new_df["homepage"].fillna(0)

In [63]:
url=list(enumerate(new_df["homepage"]))
new_df["urls"]=0
for i in range(len(url)):
  if new_df["homepage"][i]==0:
    
    x=("{}/{}".format("https://www.",str("".join(list(new_df["title"][url[i][0]].split())))))

    new_df["urls"][i]=x
  else:
    new_df["urls"][i]=new_df["homepage"][i]

<ipython-input-63-1e6780ca310e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["urls"][i]=new_df["homepage"][i]

In [64]:
# def link(url,i):
#   s=url
#   x="{} + {}".format("https://www.",str(new_df.iloc[[url[i][0]]].title))
#   iF s is "link" 
#     return x
#   else:
#     return s
# # new_df[new_df["homepage"].fillna("{} + {}".format("https://www.",new_df["title"]]))
new_df["urls"]

0                             http://www.avatarmovie.com/
1            http://disney.go.com/disneypictures/pirates/
2             http://www.sonypictures.com/movies/spectre/
3                      http://www.thedarkknightrises.com/
4                    http://movies.disney.com/john-carter
                              ...
4804                              https://www./ElMariachi
4805                               https://www./Newlyweds
4806    http://www.hallmarkchannel.com/signedsealeddel...
4807                          http://shanghaicalling.com/
4808                          https://www./MyDatewithDrew
Name: urls, Length: 4809, dtype: object

In [65]:
# new_df.iloc[[0]].title
new_df.sample(5)

,id,homepage,title,cast,crew,overview,genres,keywords,urls
3382,104896,0,A Dog Of Flanders,"[JackWarden, JeremyJamesKissner, JesseJames]",[KevinBrodie],"Poor but happy, young Nello and his grandfathe...","[Drama, Family]",[],https://www./ADogOfFlanders
805,71676,http://www.thespiritofvengeance.com/,Ghost Rider: Spirit of Vengeance,"[NicolasCage, CiaránHinds, ViolantePlacido]","[BrianTaylor, MarkNeveldine]",When the devil resurfaces with aims to take ov...,"[Action, Fantasy, Thriller]","[monk, eastern europe, skeleton, biker, marvel...",http://www.thespiritofvengeance.com/
1421,3604,0,Flash Gordon,"[SamJ.Jones, MelodyAnderson, MaxvonSydow]",[MikeHodges],A football player and his friends travel to th...,[Science Fiction],"[emperor, solar eclipse, prince, tv duel, figh...",https://www./FlashGordon
3446,21641,0,The Damned United,"[MichaelSheen, TimothySpall, ColmMeaney]",[TomHooper],"Taking over Leeds United, Brian Clough's abras...",[Drama],"[england, leeds united, sport, brighton, socce...",https://www./TheDamnedUnited
41,44912,http://greenlanternmovie.warnerbros.com/,Green Lantern,"[RyanReynolds, BlakeLively, PeterSarsgaard]",[MartinCampbell],"For centuries, a small but powerful force of w...","[Adventure, Action, Thriller, Science Fiction]","[dc comics, transformation, superhero, alien, ...",http://greenlanternmovie.warnerbros.com/

In [66]:
# to convert string into list of strings 
def spliting(text):
  text=str(text).split()
  return text

In [67]:
new_df['overview']=new_df['overview'].apply(spliting)

In [68]:
new_df['all_tags']=new_df['overview'] + new_df['genres'] + new_df['keywords'] + new_df['cast'] + new_df['crew']

In [69]:
new_df.drop(columns=['overview','genres' ,'keywords','cast' , 'crew','homepage'],inplace=True)

In [70]:
new_df.head()

,id,title,urls,all_tags
0,19995,Avatar,http://www.avatarmovie.com/,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,http://www.sonypictures.com/movies/spectre/,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,http://www.thedarkknightrises.com/,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,http://movies.disney.com/john-carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [71]:
#converting all tags in lower case and deletion similarities
def convert_lower(text):
  l=[]
  for item in text:
    l.append(item.lower())
  return l
    
new_df['all_tags']=new_df['all_tags'].apply(convert_lower)
new_df.head()

,id,title,urls,all_tags
0,19995,Avatar,http://www.avatarmovie.com/,"[in, the, 22nd, century,, a, paraplegic, marin..."
1,285,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,"[captain, barbossa,, long, believed, to, be, d..."
2,206647,Spectre,http://www.sonypictures.com/movies/spectre/,"[a, cryptic, message, from, bond’s, past, send..."
3,49026,The Dark Knight Rises,http://www.thedarkknightrises.com/,"[following, the, death, of, district, attorney..."
4,49529,John Carter,http://movies.disney.com/john-carter,"[john, carter, is, a, war-weary,, former, mili..."

In [72]:
pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.9/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from nltk) (4.65.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.9/dist-packages (from nltk) (2022.10.31)

In [73]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
def steming(text):
  l=[]
  for i in text:

    l.append(ps.stem(i))
  return l

In [74]:
new_df['all_tags']=new_df['all_tags'].apply(steming)

In [75]:
new_df.sample(5)

,id,title,urls,all_tags
170,36643,The World Is Not Enough,http://www.mgm.com/view/movie/231/The-World-Is...,"[greed,, revenge,, world, domin, and, high-tec..."
1738,15198,"Mystery, Alaska","https://www./Mystery,Alaska","[in, mystery,, alaska,, life, revolv, around, ..."
2377,13809,RockNRolla,http://rocknrolla.warnerbros.com/,"[when, a, russian, mobster, set, up, a, real, ..."
1222,41446,Scream 4,http://www.scream-4.com/,"[sidney, prescott,, now, the, author, of, a, s..."
1335,96721,Rush,https://www./Rush,"[a, biograph, drama, center, on, the, rivalri,..."

In [76]:
new_df["all_tags"]=new_df["all_tags"].apply(_join)

In [77]:
new_df['all_tags'] = new_df['all_tags'].apply(lambda x: " ".join(x))

# **VECTORIZATION**

In [78]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words='english')

In [79]:
data = cv.fit_transform(new_df['all_tags']).toarray()
data

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [80]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(data)
similarity

array([[1.        , 0.06776309, 0.06862635, ..., 0.03571429, 0.        ,
        0.        ],
       [0.06776309, 1.        , 0.05063697, ..., 0.01976424, 0.        ,
        0.0209427 ],
       [0.06862635, 0.05063697, 1.        , ..., 0.02001602, 0.        ,
        0.        ],
       ...,
       [0.03571429, 0.01976424, 0.02001602, ..., 1.        , 0.03311331,
        0.03311331],
       [0.        , 0.        , 0.        , ..., 0.03311331, 1.        ,
        0.07017544],
       [0.        , 0.0209427 , 0.        , ..., 0.03311331, 0.07017544,
        1.        ]])

In [85]:
def movie_recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:8]:
      
      print("{} {}".format(new_df.iloc[i[0]].title,new_df.iloc[i[0]].urls))

In [86]:
movie_recommend("Avatar")

Aliens https://www./Aliens
Aliens vs Predator: Requiem http://www.avp-r.com/
Titan A.E. https://www./TitanA.E.
Independence Day https://www./IndependenceDay
Battle: Los Angeles http://www.battlela.com
Meet Dave http://www.meetdavemovie.com/
Predators https://www./Predators

In [87]:
movie_recommend("Batman")

Batman https://www./Batman
Batman & Robin https://www./Batman&Robin
The R.M. http://www.halestormentertainment.com/p_movies_details.asp?mID=jnlppmp8
Batman Begins http://www2.warnerbros.com/batmanbegins/index.html
Batman Returns https://www./BatmanReturns
The Dark Knight http://thedarkknight.warnerbros.com/dvdsite/
The Dark Knight Rises http://www.thedarkknightrises.com/